**學習參考：**

- Microsoft SQL 文件： [https://docs.microsoft.com/zh-tw/sql/?view=sql-server-ver15](https://docs.microsoft.com/zh-tw/sql/?view=sql-server-ver15)
- W3School： [https://www.w3schools.com/sql/sql\_select.asp](https://www.w3schools.com/sql/sql_select.asp)
- SQL Tutorial： [https://sqltutorial.org/](https://sqltutorial.org/)

In [ ]:
-- 切換使用 [shop] 資料庫 --
USE [shop];

### **SELECT 語法**

<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue;">SELECT</span> _column1_, _column2, ..._  
<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue;">FROM</span> _table\_name_;

In [ ]:
-- 查詢 SELECT 參考： https://docs.microsoft.com/zh-tw/sql/t-sql/queries/select-transact-sql?view=sql-server-ver15 --

-- 查詢[公司]資料表內全部資料 --
SELECT * FROM [dbo].[Companies];

-- Notice: 若筆數超過萬筆，查詢將造成系統過重負載，SSMS 預設只查前 1000 筆 --

In [ ]:
-- 參考：https://docs.microsoft.com/zh-tw/sql/relational-databases/system-information-schema-views/system-information-schema-views-transact-sql?view=sql-server-ver15 

-- 查詢[公司]資料表完整結構 --
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME ='Companies';

In [ ]:
-- 查詢[公司]資料表內指定欄位，例：ID、公司名稱、統一編號 --
SELECT [ID], [CompanyName], [TaxID] 
FROM [dbo].[Companies];

-- 小測驗：查詢[公司]資料表內指定欄位，例：ID、公司名稱、統一編號、電子郵件、電話號碼 --

In [ ]:
-- 搜尋範圍 WHERE ：https://docs.microsoft.com/zh-tw/sql/t-sql/queries/where-transact-sql?view=sql-server-ver15 --

-- 查詢[公司]資料表內，沒有統一編號的公司 -- 
SELECT [ID], [CompanyName], [TaxID], [Phone], [Email]
FROM [dbo].[Companies] 
WHERE [TaxID] = 'NaN';

-- 小測驗：查詢[公司]資料表內，沒有電話[Phone]的公司 --

In [ ]:
-- 排序 ORDER BY： https://docs.microsoft.com/zh-tw/sql/ssms/visual-db-tools/sort-with-order-by-visual-database-tools?view=sql-server-ver15 --

-- 查詢[公司]資料表，顯示依據電話號碼升幂排序 -- 
SELECT [ID], [CompanyName], [TaxID], [Phone] 
FROM [dbo].[Companies] 
ORDER BY [Phone] ASC;

-- 小測驗：查詢[公司]資料表，顯示依據公司統一編號 [TaxID] 降幂 DESC 排序

In [ ]:
-- 查詢[公司]資料表內，沒有統一編號的公司，依電話號碼升幂排序 -- 
SELECT [ID], [CompanyName], [TaxID], [Phone] 
FROM [dbo].[Companies]
WHERE [TaxID] = 'NaN'
ORDER BY [Phone] ASC;

-- 小測驗：查詢[公司]資料表內，沒有電子郵件[Email]的公司，依[ID]升幂排序 --

In [ ]:
-- 查詢[公司]資料表內，仍營運中 [Status] = 1 的前10筆，依電話號碼升幂排序 --
SELECT TOP 10 [ID], [CompanyName], [TaxID], [Phone]
FROM [dbo].[Companies]
WHERE [Status] = 1
ORDER BY [Phone] ASC;

-- 小測驗：取公司類別 [CompanyType] = 'retailer' 的前5筆，依 [ID] 升幂排序 --

In [ ]:
-- 查詢[公司]資料表內，仍營運中 [Status] = 1 的第6-10筆，依 ID 升幂排序 --
SELECT [ID], [CompanyName], [TaxID], [Phone], [Email]
FROM [dbo].[Companies]
WHERE [Status] = 1
ORDER BY [ID] ASC
OFFSET 5 ROWS
FETCH Next 5 ROWS ONLY;

-- 小測驗：國家代碼為 TWN 的第10-15筆，依 ID 升幂排序 --

In [ ]:
-- 查詢[公司]資料表內，模糊搜尋電話號碼裡頭有 88  --
SELECT [ID], [CompanyName], [TaxID], [Phone], [Email]
FROM [dbo].[Companies]
WHERE [Phone] LIKE '%88%'
ORDER BY [ID] ASC;

-- 小測驗：電話號碼裡是 02 開頭的 --

In [ ]:
-- 邏輯：AND 與 OR 運算子的使用：https://docs.microsoft.com/zh-tw/sql/t-sql/language-elements/or-transact-sql?view=sql-server-ver15

-- 查詢[公司]資料表內，沒有統一編號[TaxID]或者沒有電子郵件[Email]的公司 --
SELECT [ID], [CompanyName], [TaxID], [Phone], [Email]
FROM [dbo].[Companies] 
WHERE [TaxID] = 'NaN' OR [Email] = 'NaN';

-- 查詢[公司]資料表內，有完整填寫：統一編號[TaxID]、電話[Phone]及電子郵件[Email]的公司 --
SELECT [ID], [CompanyName], [TaxID], [Phone], [Email]
FROM [dbo].[Companies] 
WHERE [TaxID] != 'NaN' AND [Email] != 'NaN' AND [Phone] != 'NaN';

-- 小測驗：查詢[公司]資料表內，國別代碼[CountryCode] = 'TWN' 以及網站網址[Url]使用 .tw 的公司 --

In [ ]:
-- 比較運算子：https://docs.microsoft.com/zh-tw/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15 --
-- 查詢在 2022-04-01 之後有修改資料[Modified]的公司 --
SELECT *
FROM [dbo].[Companies]
WHERE [Modified] > '2022-04-01 00:00:00'

-- 查詢在 2022-05-01 之前建立資料[Created]的公司 --

In [ ]:
-- 查詢公司類型有那些 --
SELECT DISTINCT [CompanyType] 
FROM [dbo].[Companies];

-- 小測驗：查詢公司的國別有那些？ --

In [ ]:
-- GROUP BY 語法參考： https://docs.microsoft.com/zh-tw/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver15 --

-- COUNT() 函數參考： https://docs.microsoft.com/zh-tw/sql/t-sql/functions/count-transact-sql?view=sql-server-ver15 --
-- 計數國別代碼[CountryCode] = 'TWN' 的公司有幾間 --
SELECT COUNT(*)
FROM [dbo].[Companies]
WHERE [CountryCode] = 'TWN'
GROUP BY [CountryCode];

-- 小測驗：計數 2022-04-01 之後有修改資料[Modified]的公司有幾間 --

In [ ]:
-- STRING_AGG() 函數參考： https://docs.microsoft.com/zh-tw/sql/t-sql/functions/string-agg-transact-sql?view=sql-server-ver15 --
-- 使用 STRING_AGG 函數，連接國別代碼[CountryCode] = 'TWN' 的公司[ID] --
SELECT STRING_AGG([ID], ', ')
FROM [dbo].[Companies]
WHERE [CountryCode] = 'TWN'
GROUP BY [CountryCode];

-- 小測驗：連接公司類別[CompanyType] 為零售商 retailer 的公司的電子郵件[Email]，並且電子郵件不得為 NaN --

In [ ]:
-- Having 語法參考： https://docs.microsoft.com/zh-tw/sql/t-sql/queries/select-having-transact-sql?view=sql-server-ver15 --
-- 列出[公司]資料表內，各國的公司各有幾間 --
SELECT COUNT(ID), [CountryCode]
FROM [dbo].[Companies]
GROUP BY [CountryCode]
HAVING COUNT([ID]) > 5
ORDER BY COUNT([ID]) DESC;

-- 問題：你還有想到可以怎麼運用？ --

In [ ]:
-- 使用 ROUND 函式，四捨五入到指定位數 --
SELECT [ID], [CompanyName], ROUND([TaxID], 0) 
FROM [dbo].[Companies];

**討論：**為什麼使用 ROUND() 函式後，許多資料不見了？

In [ ]:
-- 作業練習1 --

/*
 使用 ROUND 函式，四捨五入到指定位數 --
 參考： https://docs.microsoft.com/zh-tw/sql/t-sql/functions/round-transact-sql?view=sql-server-ver15
 */
SELECT ROUND('70473585.0', 0);

/*
 使用 DECLARE 宣告變數
 使用 CASE WHEN .. THEN .. ELSE .. END 進行判斷
 參考： https://docs.microsoft.com/zh-tw/sql/t-sql/language-elements/case-transact-sql?view=sql-server-ver15
 */
DECLARE @d VARCHAR(3) ='NaN'
SELECT CASE WHEN @d = 'NaN' THEN '0' ELSE @d END

In [ ]:
-- 使用判斷式解決 NaN 或型別不匹配問題 --
SELECT [ID], [CompanyName], CASE WHEN [TaxID] = 'NaN' THEN null ELSE ROUND([TaxID], 0) END
FROM [dbo].[Companies];

In [ ]:
-- 找出[公司]資料表裡，統一編號不正確的資料 --

/*
 使用 ISNUMERIC 函式判斷是否為數值
 https://docs.microsoft.com/zh-tw/sql/t-sql/functions/isnumeric-transact-sql?view=sql-server-ver15
*/
SELECT [ID], [CompanyName], [TaxID]
FROM [dbo].[Companies]
WHERE ISNUMERIC([TaxID]) <> 1;

In [ ]:
-- 作業練習2 --
DECLARE @d DECIMAL(20,2) = 123456789012.99
/*
 使用運算子
 https://www.w3schools.com/sql/sql_operators.asp
 */
SELECT @d 
WHERE @d > 99999999 OR @d < 10000000;