**學習參考：**

- Microsoft SQL 文件： [https://docs.microsoft.com/zh-tw/sql/?view=sql-server-ver15](https://docs.microsoft.com/zh-tw/sql/?view=sql-server-ver15)
- W3School： [https://www.w3schools.com/sql/sql\_select.asp](https://www.w3schools.com/sql/sql_select.asp)
- SQL Tutorial： [https://sqltutorial.org/](https://sqltutorial.org/)

In [ ]:
-- 切換使用 [shop] 資料庫 --
USE [shop];

## INSERT INTO 語法

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

In [ ]:
INSERT INTO [dbo].[Terms]
           ([Name]
           ,[Slug]
           ,[TermGroup])
     VALUES
           ('日本製', 'MIJ', '0'),
           ('台灣製', 'MIT', '0');

In [ ]:
INSERT INTO [dbo].[TermTaxonomy]
           ([TermID]
           ,[Taxonomy]
           ,[Description]
           ,[Parent]
           ,[Count])
     VALUES
           (1, 'category', '分類：日本製', 0, 0),
           (2, 'category', '分類：台灣製', 0, 0);

## INSERT INTO SELECT 語法

<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue;">INSERT INTO</span> _table\_name_ (_column1_, _column2, ..._) <span class="sqlkeywordcolor" style="font-family: -apple-system, BlinkMacSystemFont, &quot;PingFang TC&quot;, sans-serif; box-sizing: inherit; color: mediumblue;">SELECT</span> _column1_, _column2, ..._ <span style="font-family: -apple-system, BlinkMacSystemFont, &quot;PingFang TC&quot;, sans-serif; color: rgb(0, 0, 205);">FROM&nbsp;</span> _table\_name_ <span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue;">WHERE</span> _condition_;

In [ ]:
INSERT INTO [dbo].[TermRelationships]
           ([ObjectID]
           ,[TermTaxonomyID]
           ,[TermOrder])
SELECT  [ID], 1, 0
  FROM [shop].[dbo].[Products]
  WHERE [ProductTitle] LIKE '%日本製%'