https://www.gstatic.com/ipranges/cloud.json

IPv4 Subnet Calculator
https://www.adminsub.net/ipv4-subnet-calculator/34.0.0.0/25

In [1]:
!curl ipecho.net/plain

35.185.45.164

In [1]:
import pandas as pd

In [9]:
# Import CSV
csvData = pd.read_csv (r'companies.csv')   
df = pd.DataFrame(csvData)

In [ ]:
for row in df.itertuples():
  print("INSERT INTO [shop].[dbo].[companies] ([CompanyName], [CompanySupervisor], [CompanyDesc], [CountryCode], [TaxID], [Url], [Email], [Phone], [Created], [Modified], [Status]) VALUES ('{CompanyName}', '{CompanySupervisor}', '{CompanyDesc}', '{CountryCode}', '{TaxID}', '{Url}', '{Email}', '{Phone}', '{Created}', '{Modified}', '{Status}');"
  .format(CompanyName=row.CompanyName,CompanySupervisor=row.CompanySupervisor,CompanyDesc=row.CompanyDesc,CountryCode=row.CountryCode,TaxID=row.TaxID,Url=row.Url,Email=row.Email,Phone=row.Phone,Created=row.Created,Modified=row.Modified,Status=row.Status))

In [8]:
# importing the module
import json

In [ ]:
# Opening JSON file
with open(r'companies.json') as json_file:
    data = json.load(json_file)

    for row in data:
        print("INSERT INTO [shop].[dbo].[companies] ([CompanyName], [CompanySupervisor], [CompanyDesc], [CountryCode], [TaxID], [Url], [Email], [Phone], [Created], [Modified], [Status]) VALUES ('{CompanyName}', '{CompanySupervisor}', '{CompanyDesc}', '{CountryCode}', '{TaxID}', '{Url}', '{Email}', '{Phone}', '{Created}', '{Modified}', '{Status}');"
        .format(CompanyName=row['CompanyName'], CompanySupervisor=row['CompanySupervisor'], CompanyDesc=row['CompanyDesc'],CountryCode=row['CountryCode'], TaxID=row['TaxID'], Url=row['Url'], Email=row['Email'], Phone=row['Phone'], Created=row['Created'],  Modified=row['Modified'], Status=row['Status']))